table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: none;
    padding: 5px 10px;
}

h1 {
    display: flex;
    justify-content: center;
}

hr {
    border: 1px solid lightgrey;
    margin: 2em;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#coffee-input {
    display: flex;
    flex-direction: column;
    margin: 2em;
}
